# Python code to import the CSV files into SQL
The purpose of this code is to import the data files for the Brazilian e-commerce dataset by Olist into Python. Then create and insert the tables into SQL database 'main' for each of the csv files.

In [1]:
#import all necessary python packages

import pymysql # type: ignore
import pandas as pd # type: ignore
import glob 
import os # type: ignore
from sqlalchemy import create_engine

In [2]:
#define the database name
db_name = 'olist'
user='root'
password='password'
host='localhost'
port=3306

# Create a SQLAlchemy engine for pandas.to_sql()
# Format: "mysql+pymysql://user:password@host:port/database"
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{db_name}")

connection = engine.connect()
print("Successfully connected to MySQL!")

#establish connection to MYSQL database 'main'

Successfully connected to MySQL!

In [3]:

'''
connection = pymysql.connect(
        host='localhost',  # Or 'localhost'
        user='root',
        password='password', # <--- Make sure this is your correct password!
        database=db_name,  # Replace with your actual database name
        cursorclass=pymysql.cursors.DictCursor, # Optional: returns rows as dictionaries
        local_infile=True # <--- Enable LOCAL INFILE if you plan to use LOAD DATA LOCAL INFILE
    )

print("Successfully connected to MySQL!")'''

'\nconnection = pymysql.connect(\n        host=\'localhost\',  # Or \'localhost\'\n        user=\'root\',\n        password=\'password\', # <--- Make sure this is your correct password!\n        database=db_name,  # Replace with your actual database name\n        cursorclass=pymysql.cursors.DictCursor, # Optional: returns rows as dictionaries\n        local_infile=True # <--- Enable LOCAL INFILE if you plan to use LOAD DATA LOCAL INFILE\n    )\n\nprint("Successfully connected to MySQL!")'

## Step 1: CSV Files import

In [4]:
#get a list of all the file names with csv extension
dir = "Dataset/"
csv_files = glob.glob(os.path.join(dir, "*.csv"))
csv_files

['Dataset/order_reviews.csv',
 'Dataset/customers.csv',
 'Dataset/products.csv',
 'Dataset/orders.csv',
 'Dataset/geolocation.csv',
 'Dataset/order_payments.csv',
 'Dataset/sellers.csv',
 'Dataset/product_category_name.csv',
 'Dataset/order_items.csv']

In [5]:
#create an empty dictionary
dataframes = {}

#loop through the list of csvs and read into separate dataframes
for file_path in csv_files:
    # Extract the filename without extension to use as a key
    file_name = os.path.splitext(os.path.basename(file_path))[0]
        
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
        
    # Store the DataFrame in the dictionary
    dataframes[file_name] = df

## Step 2: Explore, create and insert tables for each dataframe

### Step 2a: Explore each dataframe

In [6]:
def explore_df(df, table_val):
    print(f"\nExploring data for {table_val} \n")
    print("Type exploration\n",df.info())
    print("First 2 rows:",df.head(2))

In [7]:
for key in dataframes.keys():
    print('Name of the dataframe:',key)
    explore_df(dataframes[key], key)

Name of the dataframe: order_reviews

Exploring data for order_reviews

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB
Type exploration
 None
First 2 rows:                           review_id                          order_id  \
0  7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1  80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33

   review_score review_comment_title review_comment_message  \
0             4                  NaN                    NaN
1             5                  NaN                    NaN

  review_creation_date review_answer_timestamp
0  2018-01-18 00:00:00     2018-01-18 21:46:59
1  2018-03-10 00:00:00     2018-03-11 03:05:13
Name of the dataframe: customers

Exploring data for customers

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
Type exploration
 None
First 2 rows:                         customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
Name of the dataframe: products

Exploring data for products

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
Type exploration
 None
First 2 rows:                          product_id product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5            perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                 artes

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
Name of the dataframe: orders

Exploring data for orders

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
Type exploration
 None
First 2 rows:                            order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
Name of the dataframe: geolocation

Exploring data for geolocation

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB
Type exploration
 None
First 2 rows:    geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                         1037       -23.545621       -46.639292
1                         1046       -23.546081       -46.644820

  geolocation_city geolocation_state
0        sao paulo                SP
1        sao paulo                SP
Name of the dataframe: order_payments

Exploring data for order_payments

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
Type exploration
 None
First 2 rows:                            order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
Name of the dataframe: sellers

Exploring data for sellers

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB
Type exploration
 None
First 2 rows:                           seller_id  seller_zip_code_prefix seller_city  \
0  3442f8959a84dea7ee197c632cb2df15                   13023    campinas
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844  mogi guacu

  seller_state
0           SP
1           SP
Name of the dataframe: product_category_name

Exploring data for product_category_name

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB
Type exploration
 None
First 2 rows:     product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
Name of the dataframe: order_items

Exploring data for order_items

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
Type exploration
 None
First 2 rows:                            order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36

   shipping_limit_date  price  freight_value
0  2017-09-19 09:45:35   58.9          13.29
1  2017-05-03 11:05:13  239.9          19.93

### Step 2b: Identify duplicates in each dataframe by the primary key

In [8]:
# ensure the primary keys do not have any duplicates in any of the tables
def dup_check(df,pk, tbl_name):
    duplicate_rows = df[df.duplicated(subset=pk, keep=False)]

    if not duplicate_rows.empty:
        print(f"\n!!!! ALERT !!!! \nFound {len(duplicate_rows)} in {tbl_name} based on primary key(s) {pk}\n")
        return duplicate_rows
    else:
        print(f"\nNo duplicate rows found in {tbl_name} based on primary key(s) {pk}\n")
    
    

pk_dict = {'customers':'customer_id',
           'orders':'order_id',
           'order_reviews':['review_id','order_id'],
           'products':'product_id',
           'order_payments':['order_id','payment_sequential'],
           'sellers':'seller_id',
           'order_items':['order_id','order_item_id']}

for key,value in pk_dict.items():
    print(f'Duplicates check for table {key}\n')
    if key in dataframes:
        df_check = dataframes[key]
        dup_check(df_check, value, key)
    else:
        print(f"Dataframe for {key} not found")

print("DUPLICATES CHECK COMPLETE")

Duplicates check for table customers


No duplicate rows found in customers based on primary key(s) customer_id

Duplicates check for table orders


No duplicate rows found in orders based on primary key(s) order_id

Duplicates check for table order_reviews


No duplicate rows found in order_reviews based on primary key(s) ['review_id', 'order_id']

Duplicates check for table products


No duplicate rows found in products based on primary key(s) product_id

Duplicates check for table order_payments


No duplicate rows found in order_payments based on primary key(s) ['order_id', 'payment_sequential']

Duplicates check for table sellers


No duplicate rows found in sellers based on primary key(s) seller_id

Duplicates check for table order_items


No duplicate rows found in order_items based on primary key(s) ['order_id', 'order_item_id']

DUPLICATES CHECK COMPLETE

### Step 2c: Insert data into the SQL table

In [9]:
#define loading order since there are foreign key dependencies
load_order = ['customers','orders','order_reviews','products','product_category_name','geolocation','order_payments','sellers','order_items']

for table_name in load_order:
    if table_name in dataframes:
        #assign dataframe to temporary df
        df=dataframes[table_name]

        #load data to sql
        print(f"Loading data into table {table_name}")
        df.to_sql(table_name, connection, if_exists='append', index=False)
        print(f"Successfully loaded {len(df)} into {table_name}")

    else:
        print(f"No dataframe found for table {table_name}")

Loading data into table customers
Successfully loaded 99441 into customers
Loading data into table orders
Successfully loaded 99441 into orders
Loading data into table order_reviews
Successfully loaded 99224 into order_reviews
Loading data into table products
Successfully loaded 32951 into products
Loading data into table product_category_name
Successfully loaded 71 into product_category_name
Loading data into table geolocation
Successfully loaded 1000163 into geolocation
Loading data into table order_payments
Successfully loaded 103886 into order_payments
Loading data into table sellers
Successfully loaded 3095 into sellers
Loading data into table order_items
Successfully loaded 112650 into order_items

In [10]:
connection.close()
engine.dispose()